.detail_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: 200;
  margin-top: 100px;
}

.detail_tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 150;
  margin-top: 10px;
}

.detail_info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-weight: 100;
}

.detail_overview {
  margin-top: 20px;
  font-weight: 100;
  margin: 0 300px;
}

.detail_runtime {
  margin-top: 10px;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 300px;
}
